@charset "UTF-8";

/* Typical Device Breakpoints

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { 

    body {
        overflow-x: hidden;
    }
    main {
        width: 100vw;
        height: 2739px;
        position: absolute;
        top: 30%;
    }

    .topo {
        width: 100vw;
        height: 764.5px;
    }

    .topo > img {
        width: 330px;
        height: 379.5px;
    }

    .topo_txt {
        width: 500px;
        word-wrap: break-word;
        margin-left: 200px;
    }

    .topo_txt > button {
        width: 214px;
        height: 49px;
    }

    .conteudo {
        width: 100vw;
        height: 1326px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 100px;
    }

    .art_img > img {
        width: 335px;
    }

    .artigos {
        width: 335px;
        height: 327px;
    }

    .formulario {
        width: 100vw;
        height: 649px;
    }

    .formulario > input {
        width: 592px;
        height: 59px;
    }

    .formulario > textarea {
        width: 592px;
        height: 150px;
    }

    .formulario > button {
        width: 592px;
        height: 47px;
    }
}

@media screen and (min-width:992px) {

    body {
        overflow-x: hidden;    
    }

    main {
        width: 100vw;
        height: 2282px;
        position: absolute;
        top: 20%;
    }

    .topo {
        width: 100vw;
        height: 560px;
    }

    .topo_txt {
        width: 451px;
        height: 281px;
        float: left;
        position: relative;
        top: 45%;
        left: 10%;
        line-height: 2em;
        text-align: left;
    }

    .topo_txt > h1 {
        font-size: 1.6em;
        text-align: left;
    }

    .topo_txt > button {
        float: left;
        width: 214px;
        height: 49px;
        border-radius: 5px;
        opacity: 0px;
        background: rgba(132, 106, 255, 1);
        border-radius: 5px;
        border: none;
        color: white;
        margin-left: 10px;
    }

    .topo > img {
        width: 400px;
        height: 460px;
        gap: 0px;
        opacity: 0px;
        text-align: right;
        margin-left: 200px;
    }

    .art_titulo {
        font-size: 32px;
        font-weight: 600;
        line-height: 37.5px;
        text-align: left;
        margin-left: 130px;
    }

    .conteudo {
      width: 100vw;  
      height: 1073px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .artigos {
        width: 384px;
        height: 357px;
        margin-right: 60px;
    }

    .art_img > img {
        width: 384px;
    }

    .formulario {
      width: 100vw;  
      height: 649px;
    }

    .formulario > input {
        width: 592px;
        height: 59px;
    }

    .formulario > textarea {
        width: 592px;
        height: 150px;
    }

    .formulario > button {
        width: 592px;
        height: 47px;
    }
}